<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Bike Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content ion-padding>
  <div style="padding:15px;">
    <p>Genie Bikez has worked hard over the years to provide a service that is both fair and enjoyable for customers. Whether you're a buyer or a vendor, you'll appreciate how simple it is to use the service. Quality is paramount to us. Common people have had trouble selling their old bikes through a legitimate outlet on several occasions. With our service, Genie Bikez helps to develop trust and authenticity. You can count on us to sell your bike. If you want to get a fair price for your bike, sell it to Genie Bikez.</p>
    <h4>Service that is open and honest for Bike sale on the internet</h4>
    <p>
      With Genie Bikez, selling bikes online has never been easier. If you have used bikes or scooters from companies such as Yamaha, Suzuki, TVS, Bajaj, Hero, Honda, Piaggo, Mahindra, and others, you can sell them. By providing your bike's information, you'll be led to set up a time and day for a free bike inspection.


    </p>
    <h4>Expert examination of automobiles</h4>
    <p>
      After you've scheduled your Bike, an auto professional technician will come to your home for a free inspection at the time and date you've specified.


    </p>
    <h4>No Hassle with Documents to Sell Your Bike Online
    </h4>
    <p>
      The most inconvenient aspect is the transmission of legal documents. We also take care of the permissible annoyances. The ownership transfer documentation is in place. Any disciplinary actions are not the seller's responsibility. You and Genie Bikez do not exchange money because we provide you with a free opportunity to sell your bike online.


    </p>
  </div>

</ion-content>
