<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>File Upload</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="6" class="ion-text-center">
        <label class="btn btn-default img-holder" [style.background-image]="'url('+(frontimg ? frontimg : '../../assets/icon/front-bike.png')+')'">
          <!-- <img src="assets/plus.png" width="40"> -->
          <input type="file" (change)="selectFile($event,'front')" style="display: none;">
        </label>
        <p>Front</p>
      </ion-col>

      <ion-col size="6" class="ion-text-center">
        <label class="btn btn-default img-holder" [style.background-image]="'url('+(rearimg ? rearimg : '../../assets/icon/rear-bike.png')+')'">
          <!-- <img src="assets/plus.png" width="40"> -->
          <input type="file" (change)="selectFile($event,'back')" style="display: none;">
        </label>
        <p>Rear</p>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col size="6" class="ion-text-center">
        <label class="btn btn-default img-holder" [style.background-image]="'url('+(leftsideimg ? leftsideimg : '../../assets/icon/left-bike.png')+')'">
          <!-- <img src="assets/plus.png" width="40"> -->
          <input type="file" (change)="selectFile($event,'leftside')" style="display: none;">
        </label>
        <p>Left Side</p>
      </ion-col>

      <ion-col size="6" class="ion-text-center">
        <label class="btn btn-default img-holder" [style.background-image]="'url('+(rightsideimg ? rightsideimg : '../../assets/icon/right-bike.png')+')'">
          <!-- <img src="assets/plus.png" width="40"> -->
          <input type="file" (change)="selectFile($event,'rightside')" style="display: none;">
        </label>
        <p>Right Side</p>
      </ion-col>

      <ion-col size="6" class="ion-text-center">
        <label class="btn btn-default img-holder" [style.background-image]="'url('+(odometerimg ? odometerimg : '../../assets/icon/odometer.png')+')'">
          <!-- <img src="assets/plus.png" width="40"> -->
          <input type="file" (change)="selectFile($event,'odometer')" style="display: none;">
        </label>
        <p>Odometer</p>
      </ion-col>

      <ion-col size="6" class="ion-text-center">
        <label class="btn btn-default img-holder" [style.background-image]="'url('+(engineimg ? engineimg : '../../assets/icon/engine.png')+')'">
          <!-- <img src="assets/plus.png" width="40"> -->
          <input type="file" (change)="selectFile($event,'engine')" style="display: none;">
        </label>
        <p>Engine</p>
      </ion-col>

      <ion-col size="12" class="ion-text-center">
        <div *ngIf="fileselected>=1 && awsfileupload.length<6">
          <p>Image Uploading</p>
          <ion-progress-bar type="indeterminate" color="danger"></ion-progress-bar>
        </div>
        <ion-button (click)="postBikeDetails()" class="sellbike-btn" style="margin-top: 20px;" [disabled]="this.awsfileupload.length<6">Submit</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
