.border-form{
  height: 50px;
  background: #F6F6F6;
  border: 1px solid #E8E8E8;
  border-radius: 8px;

}


.login-btn{
  --background: #EF2A24;
  --border-radius: 100px;
  --padding: 16px 32px;
  color: #E8E8E8;
  width:100%;
}

.forgot-pass{
  color: #EF2A24;
  font-weight: 600;
  text-decoration: none;

}

.page-heading{
  margin-top: 40%;
}

.x{
  display:inline-block;
  width:50px;
  height:50px;
  margin:5px;
  // --background:#efefef;
  --padding-start:7px;
  border-bottom: 2px solid #cecece;
    // box-shadow: 0 0 2px #d2d2d2;
  }
